

#gameArea{
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-top: 2%;
}

.gameTitle{
    font-size: 4rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.gameBoard{
    margin: auto;
    width: 50%;
    height: 95%;
    margin-left: 23%;
    border: 1px solid black;
    padding: 1%;
    display: inline-block;
    position: absolute;

}

#playerOne, #playerTwo{
    font-family: 'Press Start 2P', cursive;
    height: 50%;
    width: 20%;
    border: indigo 2px solid;
    display: inline-block;
    position: absolute;
    text-align: center;
}

#playerTwo{
    margin-left: 79%;
}


.rows{
    display: inline-block;
    height: 13%;
    width: 100%;
}

.rowZero,.rowOne,.rowTwo,.rowThree,.rowFour,.rowFive,.rowSix{
    display: inline-block;
    border: black solid 1px;
    margin-right: 0.7%;
    margin-top: 0.5%;
    border-radius: 80%;
    width: 13%;
    height: 100%;

}


/* Player colors */
.red{
    background-color: red;
}

.blue{
 background: blue;
}

/* MODAL */

#modal{
    position: fixed;
    top: 10%; 
    width: 50%;
    height: 50%;
    border:green 3px solid;
}


#modalBody {
    position: relative;
    left: 50%;
    top: 50%;
    min-width: 50%;
    min-height: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}

.reveal{
    display: none;
}

.playAgain{
    position: absolute;
    text-align: center;
}

/* Reset Button */

.resetBtn{
margin-top: 51%;
margin-left: 47%; 
margin-bottom: 5%;
}