
body{
    overflow: hidden;
    
}
#gameArea{
    margin: 0 auto;
    height: 90vh;
    width: 100vw;
    position: relative;

   
}

.gameTitle{
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin:1%;
}

.gameBoard{
    margin: 0 auto;
    width: 55%;
    height: 85%;
    border: 1px solid black;
    padding: 1%;
    display: inline-block;
    background-color: black;
    

}

#playerOne, #playerTwo{
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    width: 20%;
    border: green 2px solid;
    display: inline-block;
    
    text-align: center;
}



.rowClick{
    background-size: 100%;
}
.rows{
   
    height: 13%;
    width: 100%;
    margin-top: 0.8%;
    padding-left: 20px;
}

.rowZero,.rowOne,.rowTwo,.rowThree,.rowFour,.rowFive,.rowSix{
    display: inline-block;
    border: black solid 1px;
    margin-right: 3.6%;
    border-radius: 100%;
    width: 10%;
    height: 100%;

}

.rowClick{
    background-color: white;
}


/* Player colors */
.red{
    background-color: red;
    height: 30px;
    width: 30px;
}

.blue{
 background: blue;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}

.orange{
    background: orange;
}

/* MODAL */

#modal{
    position: relative;
    left: 3%;
    width: 90%;
    height: 80%;
    border: green 3px solid;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.8);
    bottom: 90%;
}

p.winnerMsg {
    color: white;
    font-size: 2em;
    position: relative;
}

div.modalBody img {
    width: 50%;
    display: inline-block;
    position: relative;
}

.reveal{
    display: none;
}

.playAgain{
    position: absolute;
    top: 70%;
    left: 43%;
    text-align: center;
}

/* Reset Button */

.resetBtn{
margin-top: 51%;
margin-left: 47%; 
margin-bottom: 5%;
}

/* .hyena{
    background-image: url("hyena.jpg");

}

.pumbaa{
    background-image: url("pumbaa.jpg");

}

.rafiki{
    background-image: url("rafiki.jpg");
}

.scar{
    background-image: url("scar.png");
}

.simba{
    background-image: url("simba.jpeg");
}

.hyena,.pumbaa,.rafiki,.scar,.simba{
    width: 100%;
    height: 100%;
    border-radius: 50%;
} */


