

#gameArea{
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
}

.gameBoard{
    margin: auto;
    margin-top: 2%;
    width: 50%;
    height: 95%;

}
.rows{
    display: inline-block;
    height: 13%;
    width: 100%;
}

.rowZero,.rowOne,.rowTwo,.rowThree,.rowFour,.rowFive,.rowSix{
    display: inline-block;
    border: black solid 1px;
    width: 13%;
    height: 100%;

}


/* Player colors */
.red{
    background-color: red;
}

.blue{
 background: blue;
}

/* MODAL */
#modalShadow{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}
#modalBody {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 50%;
    min-height: 50%;
    background-color: white;
    transform: translate(-50%, -50%)
}