
body{
    overflow: hidden;
    
}
#gameArea{
    margin: 0 auto;
    height: 90vh;
    width: 100vw;
    position: relative;
   
}

.gameTitle{
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin:1%;
}

.gameBoard{
    margin: 0 auto;
    padding-top:10px;
    width: 57%;
    height: 90%;
    
    border: 1px solid black;
    
    display: inline-block;
    

}
.hover{
     box-shadow: 0px 0px 10px green;
}

#playerOne, #playerTwo{
    font-family: 'Press Start 2P', cursive;
    height: 50%;
    width: 20%;
    border: indigo 2px solid;
    display: inline-block;
    
    text-align: center;
}



.rows{
    
    width: 100%;
    height: 14%;
    display: inline-block;
   
    
    
}
.tokenClicked{
    
    margin-top:0.5%;
    width: 10%;
    border: 1px solid black;
    height: 85%;
    margin-left:3.5%;
    border-radius: 100%;
    display: inline-block;
}


/* Player colors */
.red{
    background-color: red;
}

.blue{
 background: blue;
}

/* MODAL */

#modal{
    position: relative;
    left: 3%;
    width: 90%;
    height: 80%;
    border: green 3px solid;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.8);
    bottom: 90%;
}

p.winnerMsg {
    color: white;
    font-size: 2em;
    position: relative;
}

div.modalBody img {
    width: 50%;
    display: inline-block;
    position: relative;
}

.reveal{
    display: none;
}

.playAgain{
    position: absolute;
    top: 70%;
    left: 43%;
    text-align: center;
}

/* Reset Button */

.resetBtn{
margin-top: 51%;
margin-left: 47%; 
margin-bottom: 5%;
}